<nav class="breadcrumbContainer">
  <a routerLink="/projeto">Projeto</a> <span>/</span>
</nav>
<section *ngIf="projetoEspecificacao">
 
  <h1 class="d-flex justify-content-center my-3">
    <div [innerHTML]="projetoEspecificacao.tituloProjeto"></div>
  </h1>

  <div class="w-100" style="height: 800px;">
    <app-image-slider [slides]="projetoEspecificacao.imagens"></app-image-slider>
  </div>
  <!--<app-projetos-carousel-imagens [projeto]="projetoEspecificacao"></app-projetos-carousel-imagens>-->

  <div id="accordion" class="w-100" >
    <div class="card text-white bg-dark accordionCard" *ngFor="let accordionCard of projetoEspecificacao.accordionCards">
      <div class="card-header text-center" id="headingOne">
        <h5 class="mb-0">
          <button (click)="changeCollapse(accordionCard.id)"  class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div [innerHTML]="accordionCard.tituloDescricao"></div>
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="{{accordionCard.collapse}}" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body text-justify accordionBody">
          <div [innerHTML]="accordionCard.descricao"></div>
        </div>
      </div>
    </div>
  </div>
  <nav class="card-footer text-muted">
    <button (click)="getBack()"  class="btn btn-secondary text-left justify-content-left">Voltar</button>
  </nav>
</section>   
