<footer  class="">
  <div id="meuFooter" class="row">
    <aside class="col-sm-4">
      <img width="90px" height="80px" alt="logo do github" src="../..{{globalUrl}}/assets/images/Octocat.png"/>
      <p id="textoLogoGit" > Esse site utiliza GitHub Pages</p>
    </aside>
    
    <aside class="col-sm-4">
      <div><p>Icones feitos por <a href="https://www.freepik.com/" target="_blank" title="Freepik">Freepik</a> em <a href="https://www.flaticon.com/" 		target="_blank"	    title="Flaticon">www.flaticon.com</a> é licenciado por <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p></div>
      <div><p><a href="https://br.freepik.com/fotos-gratis/fundo-azul-do-gradiente-de-luxo-abstrato-liso-azul-escuro-com-vinheta-preta-studio-banner_15873388.htm#query=fundo%20azul&position=12&from_view=keyword&track=ais&uuid=002bbd94-78da-4e76-a3fa-9a8f2df7d85c">Imagem de benzoix</a> no Freepik</p></div>
      <div><p>icones de redes sociais feitos pelo <a href="https://www.iconfinder.com/social-media-icons" target="_blank">icon finder</a> </p></div>
    </aside>
  </div>
</footer>