<h1 class="text-center">Projetos</h1>				
    <div class="form-group col-sm-4">
      <label for="searchInput">Buscar Projetos: </label>
      <input 
      #mySearch
      class="form-control" 
      placeholder="Nome do Projeto"
      name="searchInput" 
      type="text"
      (input)="filterItem(mySearch.value)"> 
    </div>
    
  <div class="row justify-content-center align-items-center" >
      <button ng-cloak (click)="redirect(projeto.id)" class="btn btn-secondary projetoCardButton col-sm-2  mx-1" *ngFor="let projeto of projetosExistenteFiltered">
        <div *ngIf="projetosExistenteFiltered.length">
          <div class="card projetoCard">  
            <div class="card-body p-0 position-absolute fixed-top pt-3">
              {{projeto.tituloProjeto | uppercase}}<!--ANDROID-->
            </div>
            <img class="card-img-top projetoCardImagem"  alt="Card image cap" [src]="projeto.imagemDaTecnologia"> <!-- src="imagens/android-logo.png" -->
            <div class="card-body p-0">
              <div *ngIf="projeto.tecnologiasAuxiliares">
                <img  height=25px  width=25px *ngFor="let tecnologiaAuxiliar of projeto.tecnologiasAuxiliares" src="{{tecnologiaAuxiliar.imagemLocation}}" />
              </div>
            </div>
          </div>	
        </div>
      </button>			
  </div>