#mainColumnCard{
	background-image: url(../../assets/images/fundo-azul-do-gradiente-de-luxo-abstrato-liso-azul-escuro-com-vinheta-preta-studio-banner-min.jpg);
  background-color: var(--cor-preto-escuro);
	border-right-color: var(--cor-cinza-escuro);
	border-right-style: solid;
	border-right-width: small;
	border-bottom-color: var(--cor-cinza-escuro);
	border-bottom-style: solid;
	border-bottom-width: small;
}