<nav id="top_main_menu" class="navbar navbar-expand-lg col-sm-12">
  <div class="col-sm-2">
    <a id="system_brand" class="navbar-brand  d-block pb-0 " [routerLink]="['/projeto']">
      <h3 class="mb-0">Vinícius Silvano</h3>
    </a>
    <small class="cargo pl-3">Desenvolvedor Full Stack</small>
  </div>
  <div class="col-sm-7" class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        
      <li class="nav-item dropdown">
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownProjetos" ngbDropdownToggle>Projetos</button>
              <div   class="MenuDropdown" ngbDropdownMenu aria-labelledby="dropdownProjetos">
                <button  *ngFor="let projeto of projetosDropDownList" (click)="navigateToEspecificacao(projeto.id)" class="MenuDropdownItem" ngbDropdownItem>
                  <a> {{projeto.tituloProjeto}}</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div> 
  <aside class="col-sm-3 row float-right justify-content-end">
     <div  class="btn-group" role="group" aria-label="Medias sociais">
      <a  *ngFor="let button of socialMediaButtons"   href="{{button.mediaUrl}}" target="_blank">
        <button  title="{{button.alt}}" class="btn btn-secondary mx-2 my-1 h-25 w-25 p-3 btnRedeSocial" type="button" 
                 
                  [ngStyle]="{ 'background-image': 'url(' + button.source + ')'}">
                  
        </button>
      </a>
     </div>
  </aside>
</nav>	
