nav{
    background-color: rgba(50,50,50,0.5);
}
.MenuDropdown{
    border-style: solid;
    padding: 5px;
}
.MenuDropdownItem{
    width:100%;
    height:100%;
    padding: 0px;
    color: rgba(var(--cor-pure-white),var(--cor-pure-white-opacity));
}

.MenuDropdownItem:hover{
    border-color: var(--cor-azul-claro);
    border-style: solid;
    border-width: 3px;
}

.MenuDropdown, .MenuDropdownItem{
    border-color: var(--cor-azul-marinho);
    background-color: var(--cor-preto-escuro);
}

#top_main_menu{
    background-image: url(../../assets/images/fundo-azul-do-gradiente-de-luxo-abstrato-liso-azul-escuro-com-vinheta-preta-studio-banner-min.jpg);
    background-color: var(--cor-preto-escuro);
    border-bottom-color: var(--cor-cinza-escuro);
    border-bottom-style: solid;
    border-bottom-width: small;
    position: fixed;
    z-index: 2;
}

#top_main_menu .btn-outline-primary{
    color: rgba(var(--cor-pure-white),var(--cor-pure-white-opacity));
    border-color: rgba(var(--cor-pure-white),var(--cor-pure-white-opacity));
    background-color: var(--cor-preto-escuro);
}

#top_main_menu .btn-outline-primary:hover{
   background-color: var(--cor-preto-escuro);
   border-color: var(--cor-azul-claro);
}

#system_brand h3{
    color: rgba(var(--cor-pure-white),var(--cor-pure-white-opacity));
}

#system_brand h3:hover{
    color: var(--cor-azul-claro);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, 
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, 
.show > .btn-outline-primary.dropdown-toggle:focus{
    background-color: var(--cor-preto-escuro) !important;
}