<nav id="top_main_menu" class="navbar navbar-expand-lg col-sm-12 mb-0">
  <div>
    <a class="navbar-brand d-block pb-0 " [routerLink]="['/projeto']">
      <h3 class="mb-0">Vinícius Silvano</h3>
    </a>
    <small class="cargo pl-3">Desenvolvedor Full Stack</small>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        
      <li class="nav-item dropdown">
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownProjetos" ngbDropdownToggle>Projetos</button>
              <div   class="MenuDropdown" ngbDropdownMenu aria-labelledby="dropdownProjetos">
                <button  *ngFor="let projeto of projetosDropDownList" (click)="navigateToEspecificacao(projeto.id)" class="MenuDropdownItem" ngbDropdownItem>
                  <a> {{projeto.tituloProjeto}}</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div> 
</nav>	