<app-mainmenu></app-mainmenu>

<div id="mainContainer" class="container-fluid col-sm-12 h-100">
  
  <div class="row">
    <div class="col-sm-9 h-100">
        <app-main-column></app-main-column>
    </div>
    <div class="col-sm-3 h-100 d-flex justify-content-center">
      <app-right-aside-column></app-right-aside-column>
    </div>
  </div>
  <div class="col-sm-12">
    <app-left-aside-column></app-left-aside-column>
  </div>
  <div class="mx-0 px-0 w-100 col-sm-12 bg-dark text-light">
    <app-footer></app-footer>
  </div>
</div>
