<aside class="">
  <div  class="row my-2">
    <div id="crachaDeApresentacao" class="card text-dark">
      <div class="card-body">
        <h2 class="card-title">Apresentação</h2>
        <img height="50%" width="100%" src="../../portifolioVinicius/assets/images/minhaFoto.jpg" alt="Foto de Vinícius Silvano"/>
        <div id="divCardText">
          <p class="card-text apresentacaoCardText">Olá meu nome é Vinícius Silvano e bem vindo ao meu portifólio, neste site você poderá encontrar informações e, possivelmente, artefatos de alguns projetos que eu desenvolvi.</p>
          <p class="card-text apresentacaoCardText">Atenciosamente Vinícius</p>
        </div>
       </div>
    </div>
  </div>
  <div class="row my-2">
    <div>
      <div title="cracha do linkedin" class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="pt_BR" data-type="vertical" data-theme="dark" data-vanity="vinícius-silvano-634a1b10a"><a class="LI-simple-link" href='https://br.linkedin.com/in/vin%C3%ADcius-silvano-634a1b10a?trk=profile-badge'>Vinícius silvano</a></div>
    </div>
  </div>
</aside>