#crachaDeApresentacao, #SobreOsProjetos{
    background-image: url(../../assets/images/fundo-azul-do-gradiente-de-luxo-abstrato-liso-azul-escuro-com-vinheta-preta-studio-banner-min.jpg);
    background-color: var(--cor-preto-escuro);
    padding-top: 1.25rem;
    width: 100%;
}

#crachaDeApresentacao{
    border-bottom-color: var(--cor-cinza-escuro);
    border-bottom-style: solid;
}