.projetoCardButton{
    width:100px;
    height:40px;
    background-color: black;
    border-style: solid;
    border-width: medium;
    border-color: green;
}

.enfeiteButtonTopRight{
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    /*metade do tamanho do height do pai*/
    border-top: 20px solid green;
    /*metade do tamanho do width do pai*/
    border-left: 50px solid transparent;
    top: 0;
    right: 0;
    opacity: 0.9;
}

.enfeiteButtonBottomLeft{
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 0;
    height: 0;
    /*metade do tamanho do height do pai*/
    border-bottom: 20px solid green;
    /*metade do tamanho do width do pai*/
    border-right: 50px solid transparent;
    left: 0;
    opacity: 0.9
}

.btnTexto{
    position: absolute;
    margin: 0px;
    padding: 0px;
    color: white;
    right: 10%;
    top: 0;
    z-index: 1;
}

.projetoCardImagem{
    position: absolute;
    width: calc(100% - 50%);
    height: calc(100% - 50%);
    padding: 0px;
    left: 0;
    bottom: 100%;
    top: 30%;
    /*background-image: url("../../assets/images/android-logo.png");*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    z-index: 1;
    opacity: 0.9;
}