<div>
    <h1 class="text-center">Tecnologias</h1>				
    <div class="form-group col-sm-4">
      <label for="searchInput">Buscar Tecnologia: </label>
      <input 
        #mySearch
        class="form-control" 
        placeholder="Nome da Tecnologia"
        name="searchInput" 
        type="text"
        (input)="filterItem(mySearch.value)"> 
    </div>
    
  <div class="row justify-content-center align-items-center" >
      <button ng-cloak (click)="redirect(projetoCard.idTecnologia)" 
      class="btn btn-secondary projetoCardButton col-sm-2 mx-1" 
      *ngFor="let projetoCard of projetosCardsFiltered">
        <div class="enfeiteButtonTopRight"></div>
        <div class="enfeiteButtonBottomLeft"></div>
        <div *ngIf="projetosCardsFiltered.length">
          <div class="card projetoCard">  
              <div class="card-body p-0 pt-5 position-absolute fixed-top">
                  {{projetoCard.nome | uppercase}}<!--ANDROID-->
              </div>
            <img class="card-img-top projetoCardImagem"  alt="Card image cap" [src]="projetoCard.imagemLocation"> <!-- src="imagens/android-logo.png" -->
            <div class="card-body p-0 pt-2">
                
            </div>
          </div>
          
         		
        </div>
      </button>			
  </div>
</div>