<!--smatphones or low resolution code-->
<div class="image-slider-sm col-sm-12" style="width: 100%; height: 100%; padding: 0;">
  <div class="d-inline-block align-middle ArrowContainer leftArrowContainer ">
    <div class="leftArrow leftArrowSm" (click)="onClickLeftArrow()"
      [ngClass]="[isFirstSlide() ? 'ArrowDisabled' : 'Arrow' ]">❰</div>
  </div>
  <div class="slide-sm" [ngStyle]="{'background-image': getCurrentSliderUrl()}">
  </div>
  <div class="d-inline-block align-middle ArrowContainer rightArrowContainer " style="height: 100%; width: 15%;">
    <div class="rightArrow rightArrowSm" (click)="onClickRightArrow()"
      [ngClass]="[isLastSlide() ? 'ArrowDisabled' : 'Arrow' ]">❱</div>
  </div>
</div>

<!--desktop or medium to large resolution code-->
<div class="image-slider-md col-sm-12" style="width: 100%; height: 100%; padding: 0;">
  <div class="slide-md col-sm-12" [ngStyle]="{'background-image': getCurrentSliderUrl()}">
  </div>
  <div class="footer-slider col-sm-12" style="height: 20%; width: 100%;">
    <div class="col-sm-12 mb-1 d-flex flex-row justify-content-around flex-wrap">
      <div class="col-sm-2 align-middle ArrowContainer leftArrowContainer" style="height: 100%; width: 15%;">
        <div class="leftArrow leftArrowMd" (click)="onClickLeftArrow()"
          [ngClass]="[isFirstSlide() ? 'ArrowDisabled' : 'Arrow' ]">❰</div>
      </div>
      <div class="col-sm-8 pt-3 d-flex flex-row justify-content-around align-middle flex-wrap" style="height: 100%; width: 60%;">
        <div *ngFor="let slide of slides; let slideIndex = index" (click)="goToSlide(slideIndex)" 
          [ngClass]="[checkCurrentDot(slideIndex) ? 'dot_atual' : 'dot']">
          ●
        </div>
      </div>
      <div class="col-sm-2 align-middle ArrowContainer rightArrowContainer" style="height: 100%; width: 15%;">
        <div class="rightArrow rightArrowMd" (click)="onClickRightArrow()"
          [ngClass]="[isLastSlide() ? 'ArrowDisabled' : 'Arrow' ]">❱</div>
      </div>
    </div>
  </div>
</div>