.carouselImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    cursor:pointer;
}
.carouselContainer{
    background-color: var(--cor-cinza-claro);
    
}
#title{
    color: var(--cor-azul-claro);
    background-color: var(--cor-cinza-claro);
}

#descricaoCarousel{
    color: var(--cor-azul-claro);
    background-color: var(--cor-cinza-claro);
}


