/* You can add global styles to this file, and also import other style files */

/*bootstrap:*/
@import "~bootstrap/dist/css/bootstrap.css"; 


@font-face {
    font-family: 'Arciform';
    src: url('./assets/fonts/Arciform.otf'); 
}


body{
    background-image: url("assets/images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-color: #f8f9f9;
}



