/* You can add global styles to this file, and also import other style files */

/*bootstrap:*/
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: 'Arciform';
    src: url('./assets/fonts/Arciform.otf');
}

:root{
    --cor-azul-marinho: rgb(40,62,74);
    --cor-cinza-escuro: #3f3f3f;
    --cor-preto-escuro: #323232;
    --cor-verde-claro: #2F5D61;
    --cor-azul-claro: #000FFF;
    --cor-cinza-claro: #CFD3D4;
}

body{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-cinza-claro)
}

#mainColumnCard{
    background-color: var(--cor-preto-escuro);
}


.innerCardContainer .card{
  background-color: var(--cor-cinza-escuro);
  border-color: var(--cor-verde-claro);
  border-style: solid;
  border-width: medium;
}
  
.innerCardContainer .card-header{
  text-align: center;
  margin: 2%;
}

.innerCardContainer .card-footer .sub-tecnologias-container{
  background-color: var(--cor-preto-escuro);
}

.innerCardContainer .card-footer .btn-secondary{

}

.innerCardContainer .card ngb-carousel{
  width: 100%;
  height: 500px;
}

.innerCardContainer .card ngb-carousel img{
  width: 100%;
  height: 500px;
}

.breadcrumbContainer{
  padding-left: 3%;
  margin-bottom: 3%;
  color: var(--cor-cinza-claro);
}

.breadcrumbContainer span{
  margin-left: 1%;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: var(--cor-azul-claro);
}

  