/* You can add global styles to this file, and also import other style files */

/*bootstrap:*/
@import "~bootstrap/dist/css/bootstrap.css"; 

@font-face {
    font-family: 'Arciform';
    src: url('./assets/fonts/Arciform.otf'); 
}




body{
    background-image: url("assets/images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-color: #f8f9f9;
}

.projetoCardButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.projetoCardButton{
    animation-name: ProjetoCardButtonAni;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Arciform';
    color: darkblue;
}

.projetoCardImagem{
    opacity: 0.5;
}

@keyframes ProjetoCardButtonAni {
    from {background-color: #6c757d;}
    to {background-color: #000000;}
}
