<h2>Procurar Projeto</h2>
<div class="row mt-3">		
  <div class="form-group col-sm-12">
    <fieldset>
      <legend>Por dados Projeto:</legend>
      <label for="searchInput">Buscar Por Nome do Projeto: </label>
      <input 
        #mySearch
        class="form-control" 
        placeholder="Nome do Projeto"
        name="searchInput" 
        type="text"
        (input)="filterByItem(mySearch.value)"> 
    </fieldset>
  </div>
</div>

<div class="border-top-light-green"></div>

<div class="row mt-3">
  <div class="form-group col-sm-12">
    <fieldset>
      <legend>Por Tag Projeto:</legend>
      <small>Selecione uma tag para filtrar</small>
      <div class="d-flex flex-row mt-3">
        <div class="tag_projeto clickable background-preto-escuro-disabled oval_tag ml-3 text-center" 
          [ngClass]="{'background-preto-escuro': tagSelecionadaParaFiltro(tag)
            ,'background-preto-escuro-disabled': !tagSelecionadaParaFiltro(tag)}"
          *ngFor="let tag of todasTags" (click)="OnClickSearchByTag(tag)">
          {{tag.nome}}
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div class="border-top-light-green"></div>

<div class="row mt-3 mb-5" style="padding-left: 15px;" *ngIf="tecnologiasParaBusca.length > 0">
  <fieldset>
    <legend>Por Tecnologia:</legend>
    <small>selecione uma tecnologia para filtrar </small>
    <div class="col-12">
      <div class="mt-3 d-flex flex-row justify-content-around align-content-center flex-wrap w-100" >
        <div class="col-sm-2 col-md-2 ml-2 mb-5" *ngFor="let tecnologia of tecnologiasParaBusca">
          <app-custom-card-tecnologia [tecnologia]="tecnologia" [projetoFilter]="projetoFilter" (onClick)="OnClickSearchByTecnologyImage($event)"></app-custom-card-tecnologia>
        </div>
      </div>
    </div>
  </fieldset>
</div>