.modal-header, .modal-body, .modal-footer{
  color: var(--system-font-color);
}

.modal-header > .close{
  color: rgba(var(--cor-pure-white),var(--cor-pure-white-opacity));
}

.modal-header .modal-title{
  color: rgba(var(--cor-pure-white),var(--cor-pure-white-opacity));
}